# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Sensitive files
.env

# Database files
*.db

# System files
.DS_Store

# IDE-related files
.idea/
.vscode/
